* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  font-family: ;
  margin: 0;
}

#pageLayoutGrid {
  display: grid;
  grid-template-columns: 1fr repeat(3, 300px) 1fr;
  grid-template-areas:
    ". nav nav nav ."
    ". header header header ."
    ". banner1 banner2 banner3 ."
    ". storefront storefront storefront ."
    ". blog blog blog ."
    ". footer footer footerSocial ."
    ". copyright copyright copyright ."
}
#nav {
  display: grid;
  grid-area: nav;
}
#nav {
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
}

#nav #navItems {
  display: flex;
  flex: 1;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  position: relative;
}

.navItem:hover,
#navCtas a.navCta {
  background-color: lightgreen;
  color: black;
}

.navItem:hover a {
  color: black;
}

.navItem a,
#navCtas a.navCta {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}

.navItem a {
  color: white;
}

.navDropdown {
  display: none;
  background-color: lightgreen;
  position: absolute;
  width: 200px;
}

.navItem.navOpen .navDropdown {
  display: contents;
}

.navDropdown a {
  color: white;
  display: block;
}

.navDropdown a + a {
  padding-top: 0;
}

#header {
  display: grid;
  grid-area: header;
  background-image: url("../images/SparkleGrass.jpg");
  background-size: cover;
  padding: 100px 100px;
  text-align: center;
  opacity: 75%;
}

#bannerItem1 {
  border-right: 3px solid white;
  display: grid;
  grid-area: banner1;
}

#bannerItem2 {
  display: grid;
  grid-area: banner2;
}

#bannerItem3 {
  border-left: 3px solid white;
  display: grid;
  grid-area: banner3;
}

#bannerItem1,
#bannerItem2,
#bannerItem3 {
  background: linear-gradient(to bottom, lightgreen, white);
  display: flex;
  flex-direction: column;
  padding: 12px 24px 36px 24px;
  text-align: center;
}

.bannerItem p {
  flex: 1;
}

.bannerActions a {
  background-color: green;
  color: white;
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}
.bannerActions a:hover {
  background-color: darkgreen;
}

a.socialMediaLink {
  background-color: white;
  display: inline-block;
  padding: 6px;
  border: 2px solid green;
}

a.socialMediaLink img {
  width: 25px;
}

#storefront {
  display: grid;
  grid-area: storefront;
  background-color: white;
  text-align: center;
}

#shopGrid {
  display: flex;
  flex-wrap: wrap;
}

#shopGrid .shopItemCard {
  background-color: lightgreen;
  margin-bottom: 24px;
  padding: 20px;
  flex-basis: 25%;
}

#shopGrid .shopItemCard .shopItemImage {
  background-color: green;
  border: 3px solid green;
  display: block;
  height: 200px;
  width: 100%;
}

#shopGrid .shopItemCard .shopItemBadge {
  background-color: green;
  border-radius: 8px;
  display: inline-block;
  font-size: 12px;
  margin: 12px 0;
  padding: 8px;
  color: white;
}

#blog {
  display: grid;
  grid-area: blog;
  background-color: white;
  padding: 24px;
  text-align: center;
}

#blog h2 {
margin-bottom: 36px;
}

#blog .blogPost {
  align-items: center;
  display: flex;
  margin-bottom: 48px;
}

#blog .blogPost .blogPostImage {
  background-color: green;
  border: 4px solid green;
  flex: 2;
  height: 350px;
}

#blog .blogPost:nth-child(even) .blogPostImage {
  border-radius: 72px 72px 0 72px;
  margin-right: 48px;
}

#blog .blogPost:nth-child(odd) .blogPostImage {
  border-radius: 72px 72px 72px 0;
  margin-left: 48px;
}

#blog .blogPost .blogPostPreview {
  flex: 1;
  text-align: left;
}

#blog .blogPost:nth-child(even) .blogPostPreview {
  margin-right: 48px;
}

#blog .blogPost:nth-child(odd) .blogPostPreview {
  margin-left: 24px;
}

#blog .blogPost .blogPostPreview a {
    color: green;
}

#footer {
  display: grid;
  grid-area: footer;
  background: linear-gradient(to bottom, white, lightgreen);
  border-right: 3px solid white;
  padding: 48px 24px 24px 24px;
}

#footer #footerItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

#footer .footerItem {
  margin-bottom: 24px;
}

#footer .footerItem a {
  color: green;
  display: block;
  margin-left: 24px;
}

#footer .footerItem a:first-child {
  margin-left: 0;
}

#footerSocialMedia {
  display: grid;
  grid-area: footerSocial;
  background: linear-gradient(to bottom, lightgreen, white);
  padding: 24px;
}

#copyright {
  display: grid;
  grid-area: copyright;
  background-color: darkgreen;
  color: white;
  font-size: 12px;
  padding: 24px;
}


/* This defines the styles for the mobile view */
@media screen and (max-width: 900px) {
  #pageLayoutGrid {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas:
      ". nav nav ."
      ". header header ."
      ". banner1 banner1 ."
      ". banner2 banner2 ."
      ". banner3 banner3 ."
      ". storefront storefront ."
      ". storefront storefront ."
      ". blog blog ."
      ". blog blog ."
      ". footer footer ."
      ". footerSocial footerSocial ."
      ". copyright copyright .";
  }

  #nav {
   flex-direction: column;
  }

  #nav #navItems {
    flex-direction: column;
    text-align: center;
  }

  .navDropdown {
    position: absolute;
    visibility: hidden;
  }

  /*
    This deliberately hides the dropdown menus on mobile,
    to simplify the navigation
  */
  .navItem.navOpen .navDropdown {
    visibility: visible;
  }

  #navCtas a.navCta {
    display: block;
    text-align: center;
  }

  #header {
    padding: 36px;
  }

  #header h1 {
    font-size: 24px;
  }

  #header form {
    text-align: center;
  }

  #header form label {
    display: block;
  }

  #header form input {
    display: block;
    margin: 0 auto;
  }
  #shopGrid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #shopGrid .shopItemCard {
    margin-bottom: 24px;
    padding: 12px;
    flex-basis: 50%;
  }

  #blog .blogPost {
    flex-direction: column;
  }

  #blog .blogPost .blogPostImage {
    flex-basis: 250px;
    margin: 24px;
    width: 100%;
  }

  /*
    We change the order here so that on mobile,
    the images always display first
  */
  #blog .blogPost .blogPostPreview {
    order: 2;
    text-align: center;
  }

  #blog .blogPost:nth-child(even) .blogPostImage {
    margin-right: 24px;
  }

  #blog .blogPost:nth-child(odd) .blogPostImage {
    margin-left: 24px;
  }

  #blog .blogPost:nth-child(even) .blogPostPreview {
    margin-right: 0;
  }

  #blog .blogPost:nth-child(odd) .blogPostPreview {
    margin-left: 0;
  }

  #footer #footerItems {
    height: auto;
    text-align: center;
    flex-wrap: none;
  }

  #footerSocialMedia,
  #copyright {
    text-align: center;
  }
}
